<mat-card [ngClass]="{'player-panel-block' : true, 'player1' : this.num == order[0], 'player2' : this.num == order[1], 'player3' : this.num == order[2],'player4' : this.num == order[3] }">
    <mat-card-title>Joueur {{this.num}} : {{this.name}} {{this.num == order[0] ? "(Vous)" : ""}}</mat-card-title>
    <mat-card-actions>
      <button *ngIf="this.yourNum == this.num" mat-raised-button color="primary" [disabled]="!this.isYourTurn" (click)="this.passTurn()">Passer</button>
    </mat-card-actions>
  </mat-card>